<!DOCTYPE html>
<!-- This website template was created by: Deivid Mafra, Sherwayne Palmer, Diego Perez, Yash Deepak 05/03/2019 -->
<html lang="en">

<head>
	<title>About Us</title>
	<meta charset="utf-8">
</head>
<input type="hidden" id="pageIdent" value="aboutUsPage">

<table class="page_header">
  <tr>
    <td>About Us</td>
  </tr>
</table>

<article id="aboutus_main">
<h3>Welcome</h3>

	Welcome to CellTechReviews.com, your number one source for technical specifications and reviews of smartphones.
    We're dedicated to giving you the very best of what we have to offer, with a focus on assisting or informing
    individuals about
    smartphones they are interested in maybe buying or just have more knowledge about.
    <br />
    <br />
    Founded in 2019 by Sherwayne,Deivid,Diego and Yash CellTechReviews.com has already made an impact in the lives of
    individuals
    who frequent our site. Founded in the rich learning environment of Lambton College our passion for smartphones gave
    us the drive to create such a website
    that we felt would be a need for the every day consumer. We now serve customers all over the world, and are
    thrilled to be a part of the fast past and ever changing mobile technology industry.
  <br>

    We hope you enjoy our technical specifications and reviews as much as we enjoy offering them to you. If you have any
    questions or comments, please don't hesitate to contact us.


  <br />
  <cite>
    Sincerely, <br />
    Management
  </cite>

</article>

</html>