<!DOCTYPE html>
<!-- This website template was created by: Deivid Mafra, Sherwayne Palmer, Diego Perez, Yash Deepak 05/03/2019 -->
<html lang="en">

<head>
  <script src="scripts/Specs_scripts.js"></script>
  <title>Home</title>
  <meta charset="utf-8">
</head>
<!--author:Sherwayne Palmer -->
<input type="hidden" id="pageIdent" value="homePage">


  <div id="left_inner_container">
    <div>
      
      <table class="home_page_sub_left_header">
        <tr>
          <td>Top phones</td>
        </tr>
      </table>

      <nav class="top_phones_vertical-menu">
        <ul class="shadow">
          <li> <a id="Spec_S10" href="#" class="active">Samsung Galaxy S10</a></li>
          <li> <a id="Spec_XR" href="#">Apple Iphone XR</a> </li>
          <li> <a id="Spec_HP20" href="#">Huawei P20</a> </li>
          <li> <a id="Spec_GP13" href="#">Google Pixel 3</a> </li>
          <li> <a id="Spec_i6" href="#">Apple iPhone 6</a> </li>
          <li> <a id="Spec_LgG7" href="#">LG G7 One </a> </li>
        </ul>
      </nav>
      <div id="left_placeHolder">

      </div>

    </div>

  </div>

  <div id="right_inner_container">

    <div class="content">

      <div id="right_placeHolder">
        <img src="images/ad1.png" alt="featured image">
      </div>

    </div>

  </div>

  <div id="middle_inner_container">
    <div class="content">

      <table class="home_page_sub_middle_header">
        <tr>
          <td>Featured</td>
        </tr>
      </table>
      <section>
        <div>
          <h3 class="adj_cont"> Samsung Galaxy S10</h3>
          <img class="img_home_middle" src="images/samsung-galaxy-s10_1.jpg" alt="featured image">
          <div>
            <p class="adj_cont"> While the Samsung Galaxy S10 5G emphasizes its 5G capability in its name,
              this isn't the only feature that separates it from other devices in the S10 range.
              The S10 5G includes a total of six lenses: a quadruple-lens rear camera and a dual-lens front-facing
              camera. ...
              16MP ultrawide lens. 3D Depth lens. <span> <a href="#" class="smartphones r_galaxyS10">Read Review
                </a></span></p>
          </div>
        </div>
      </section>
      <table class="home_page_sub_middle_header">
        <tr>
          <td>Trending Now</td>
        </tr>
      </table>
      <div>
        <section>
          <h3 class="adj_cont"> Huawei P20</h3>
          <video class="adj_cont video" controls autoplay loop>
            <source class="main-data" src="images/p20-design.mp4" type="video/mp4">
            Your browser does not support HTML5 video.
          </video>
          <!--<img class="img_home_middle" height="600px" src="images/HuaweiP20_2.jpg" alt="featured image"> -->

          <div>
            <p class="adj_cont"> Following in the footsteps of last year’s P10, the Huawei P20 brings a lot of
              exciting
              new features to the table. This year’s flagship comes in three flavors: The Huawei P20,
              Huawei P20 Pro, and Porsche Design Huawei Mate RS. <span> <a href="#" class="smartphones r_HuaweiP20">Read
                  Review </a></span></p>
          </div>
        </section>
      </div>

    </div>
  </div>

</html>