<div class="main_container_tittle blue light white-text">
    <p>Partners</p>
</div>
<main>
    <div>
        <div class="left_pa">
            <img src="../images/Apple-logo.jpg">
        </div>
        <div class="right_pa">
            <img src="../images/Huawei-logo.jpg" />
        </div>
        <div class="center_pa">
            <img src="../images/google-logo.gif" />
        </div>
    </div>

    <div>
        <div class="left_pa">
            <img src="../images/samsung-logo.png">
        </div>
        <div class="right_pa">
            <img src="../images/lg-logo.jpg" />
        </div>
        <div class="center_pa">
            <img src="../images/motorola-logo.jpg" />
        </div>
    </div>

    <div>
        <div class="left_pa">
            <img src="../images/partner_logo.png" />
        </div>
        <div class="right_pa">
            <img src="../images/partner_logo_2.png" />
        </div>
    </div>
</main>