<div class="main_container_tittle blue light white-text">
    <p>Partners</p>
</div>
<main>
    <div>
        <div class="left_pa">
            <img src="../Images/Apple-logo.jpg">
        </div>
        <div class="right_pa">
            <img src="../Images/Huawei-logo.jpg" />
        </div>
        <div class="center_pa">
            <img src="../Images/google-logo.gif" />
        </div>
    </div>

    <div>
        <div class="left_pa">
            <img src="../Images/samsung-logo.png">
        </div>
        <div class="right_pa">
            <img src="../Images/lg-logo.jpg" />
        </div>
        <div class="center_pa">
            <img src="../Images/motorola-logo.jpg" />
        </div>
    </div>

    <div>
        <div class="left_pa">
            <img src="../Images/partner_logo.png" />
        </div>
        <div class="right_pa">
            <img src="../Images/partner_logo_2.png" />
        </div>
    </div>
</main>