<!DOCTYPE html>
<!-- This website template was created by: Deivid Mafra, Sherwayne Palmer, Diego Perez, Yash Deepak 05/03/2019 -->
<html lang="en">
<head>
<script src="scripts/Specs_scripts.js"></script>
<script src="scripts/smartPhones.js"></script>
<title>Smartphones</title>
<meta charset="utf-8">
</head>

<input type="hidden" id="pageIdent" value="smartphonesPage">
<table class="page_header">
  <tr>
    <td>Smartphones</td>
  </tr>
</table>

<table id="smartphones_tb" class="text-center">

  <tr>
    <td class="smartphones_tb_heading">iPhone XR</td>
    <td class="smartphones_tb_heading">iPhone 6</td>
    <td class="smartphones_tb_heading">LG G7 One</td>
  </tr>
  <tr>

    <td class="smartphones_tb_data"><img class="smrt_img_size r_iPhoneXR" src="images/iPhoneXR.png" alt=""></td>
    <td class="smartphones_tb_data"><img class="smrt_img_size r_iPhone6" src="images/iPhone6.png" alt=""></td>
    <td class="smartphones_tb_data"><img class="smrt_img_size r_LgG7One" src="images/LgG7One.png" alt=""></td>
  </tr>

  <tr>
    <td><a id="Spec_XR" href="#">Technical Specifications</a></td>
    <td><a id="Spec_i6" href="#">Technical Specifications</a></td>
    <td><a id="Spec_LgG7" href="#">Technical Specifications</a></td>
  </tr>
  <tr>
    <td><a class="r_iPhoneXR" href="#"> Review </a></td>	
    <td><a class="r_iPhone6"    href="#"> Review </a></td> 
    <td><a class="r_LgG7One"   href="#"> Review </a></td>
  </tr>

  <tr>
    <td> &nbsp; </td>
	<td> &nbsp; </td>
	<td> &nbsp; </td>
  </tr>

  <tr>
    <td class="smartphones_tb_heading">Samsung Galaxy S10</td>
    <td class="smartphones_tb_heading">Google Pixel 3</td>
    <td class="smartphones_tb_heading">Huawei P20</td>
  </tr>
  <tr>
    <td class="smartphones_tb_data"><img class="smrt_img_size r_galaxyS10" src="images/SamsungGalaxyS10.png" alt=""></td>
    <td class="smartphones_tb_data"><img class="smrt_img_size r_pixel3" src="images/GooglePixel3.png" alt=""></td>
    <td class="smartphones_tb_data"><img class="smrt_img_size r_HuaweiP20" src="images/HuaweiP20.png" alt=""></td>
  </tr>
  <tr>
    <td><a id="Spec_S10" href="#">Technical Specifications</a></td>
    <td><a id="Spec_GP13" href="#">Technical Specifications</a></td>
    <td><a id="Spec_HP20" href="#">Technical Specifications</a></td>
  </tr>
  <tr>
    <td><a class="r_galaxyS10" href="#"> Review </a></td>
    <td><a class="r_pixel3"  href="#"> Review </a></td>
    <td><a class="r_HuaweiP20"  href="#"> Review </a></td>
  </tr>

</table>

</html>
