
<h3> Smartphones </h3>		
<table>

  <tr> 
  <th> Iphone 6 </th>
  <th> Huawei P20</th>
  <th> Iphone XR</th>
  </tr>
  <tr>
    <td><img class="smrtphonesize" src="images/iPhone6.png" alt="iPhone 6"></td>
    <td><img class="smrtphonesize" src="images/HuaweiP20.png" alt="Huawei P20"></td>  
    <td><img class="smrtphonesize" src="images/iPhoneXR.png" alt="iPhone XR"></td>
  </tr>
  <tr>
    <td><a id="iPhone_6_DT" class="smrtphonesize" name="Datasheet" href="#"> Technical Specifications</a> <br />
	    <a id="iPhone_6_RW" class="smrtphonesize" name="Review" href="#"> Review </a></td>	
    <td><a id="Huawei_P20_DT"  name="Datasheet" href="#"> Technical Specifications</a><br />
		<a id="Huawei_P20_RW"  name="Review" href="#"> Review </a></td> 
    <td><a id="iPhone_XR_DT"   name="Datasheet" href="#"> Technical Specifications</a><br />
		<a id="iPhone_XR_RW"   name="Review" href="#"> Review </a></td>
  </tr>
  <tr>
  <td> <br /> <br /> </td>
  </tr>
  <tr> 
  <th> Google Pixel 3</th>
  <th> Samsung Galaxy S10</th>
  <th> LG G7 One</th>
  </tr>
  <tr>
    <td> <img class="smrtphonesize" src="images/GooglePixel3.png" alt="Google Pixel 3"></td>
	<td> <img class="smrtphonesize" src="images/SamsungGalaxyS10.png"  alt="Samsung Galaxy S10"></td>
	<td> <img class="smrtphonesize" src="images/LgG7One.png" alt="LG G7 One"></td>
  </tr>
  <tr>
    <td> <a id="Google_Pixel_3_DT"  name="Datasheet" href="#"> Technical Specifications</a><br>
		 <a id="Google_Pixel_3_RW"  name="Review" href="#"> Review </a></td>
	<td> <a id="Samsung_Galaxy_S10_DT"  name="Datasheet" href="#"> Technical Specifications</a><br>
		 <a id="Samsung_Galaxy_S10_RW"  name="Review" href="#"> Review </a></td>
	<td> <a id="Lg_G7_One_DT"  name="Datasheet" href="#"> Technical Specifications</a><br>
		<a id="Lg_G7_One_RW"  name="Review" href="#"> Review </a></td>
  </tr>

</table>
