<!-- This website template was created by: Deivid Mafra 09/04/2019 -->
<div class="table_container">
  <div class="Spec_image">
    <img alt="Google Pixel 3 banner" src="images/GooglePixel3_Spec.jpg">
  </div>

  <div class="Spec_Header">

    <table class="page_header">
      <tr>
        <td>Google Pixel 3</td>
      </tr>
    </table>
  </div>
  <table class="Spec_table">
    <tr class="tr-hover">
      <th rowspan="15" scope="row">Network</th>
      <td class="ttl">Technology</td>
      <td class="nfo">GSM / CDMA / HSPA / EVDO / LTE</td>
    </tr>
    <tr class="tr-toggle">
      <td class="ttl">2G bands</td>
      <td class="nfo" data-spec="net2g">GSM 850 / 900 / 1800 / 1900 </td>
    </tr>
    <tr class="tr-toggle" data-spec-optional>
      <td class="ttl">&nbsp;</td>
      <td class="nfo">CDMA 800 / 1900 </td>
    </tr>
    <tr class="tr-toggle">
      <td class="ttl">3G bands</td>
      <td class="nfo" data-spec="net3g">HSDPA 850 / 900 / 1700(AWS) / 1900 / 2100 </td>
    </tr>
    <tr class="tr-toggle" data-spec-optional>
      <td class="ttl">&nbsp;</td>
      <td class="nfo">CDMA2000 1xEV-DO </td>
    </tr>
    <tr class="tr-toggle">
      <td class="ttl">4G bands</td>
      <td class="nfo" data-spec="net4g">LTE band 1(2100), 2(1900), 3(1800), 4(1700/2100), 5(850), 7(2600), 8(900),
        12(700), 13(700), 17(700), 18(800), 19(800), 20(800), 25(1900), 26(850), 28(700), 29(700), 32(1500), 38(2600),
        39(1900), 40(2300), 41(2500), 42(3500), 46, 66(1700/2100), 71(600)</td>
    </tr>
    <tr class="tr-toggle">
      <td class="ttl">Speed</td>
      <td class="nfo" data-spec="speed">HSPA 42.2/5.76 Mbps, LTE-A (5CA) Cat16 1024/75 Mbps</td>
    </tr>

    <tr class="tr-toggle">
      <td class="ttl">GPRS</td>
      <td class="nfo" data-spec="gprstext">Yes</td>
    </tr>
    <tr class="tr-toggle">
      <td class="ttl">EDGE</td>
      <td class="nfo" data-spec="edge">Yes</td>
    </tr>
  </table>


  <table class="Spec_table">
    <tr>
      <th rowspan="2" scope="row">Launch</th>
      <td class="ttl">Announced</td>
      <td class="nfo" data-spec="year">2018, October</td>
    </tr>
    <tr>
      <td class="ttl">Status</td>
      <td class="nfo" data-spec="status">Available. Released 2018, November</td>
    </tr>
  </table>


  <table class="Spec_table">
    <tr>
      <th rowspan="6" scope="row">Body</th>
      <td class="ttl">Dimensions</td>
      <td class="nfo" data-spec="dimensions">145.6 x 68.2 x 7.9 mm (5.73 x 2.69 x 0.31 in)</td>
    </tr>
    <tr>
      <td class="ttl">Weight</td>
      <td class="nfo" data-spec="weight">148 g (5.22 oz)</td>
    </tr>
    <tr>
      <td class="ttl">Build</td>
      <td class="nfo" data-spec="build">Front/back glass (Gorilla Glass 5), aluminum frame</td>
    </tr>
    <tr>
      <td class="ttl">SIM</td>
      <td class="nfo" data-spec="sim">Nano-SIM card & eSIM</td>
    </tr>
    <tr>
      <td class="ttl">&nbsp;</td>
      <td class="nfo" data-spec="bodyother">IP68 dust/water resistant (up to 1.5m for 30 mins)</td>
    </tr>

  </table>


  <table class="Spec_table">
    <tr>
      <th rowspan="5" scope="row">Display</th>
      <td class="ttl">Type</td>
      <td class="nfo" data-spec="displaytype">P-OLED capacitive touchscreen, 16M colors</td>
    </tr>
    <tr>
      <td class="ttl">Size</td>
      <td class="nfo" data-spec="displaysize">5.5 inches, 76.7 cm<sup>2</sup> (~77.2% screen-to-body ratio)</td>
    </tr>
    <tr>
      <td class="ttl">Resolution</td>
      <td class="nfo" data-spec="displayresolution">1080 x 2160 pixels, 18:9 ratio (~443 ppi density)</td>
    </tr>
    <tr>
      <td class="ttl">Protection</td>
      <td class="nfo" data-spec="displayprotection">Corning Gorilla Glass 5</td>
    </tr>
    <tr>
      <td class="ttl">&nbsp;</td>
      <td class="nfo" data-spec="displayother">Always-on display<br />
        100% DCI-P3<br />
        HDR</td>
    </tr>

  </table>


  <table class="Spec_table">
    <tr>
      <th rowspan="4" scope="row">Platform</th>
      <td class="ttl">OS</td>
      <td class="nfo" data-spec="os">Android 9.0 (Pie)</td>
    </tr>
    <tr>
      <td class="ttl">Chipset</td>
      <td class="nfo" data-spec="chipset">Qualcomm SDM845 Snapdragon 845 (10 nm)</td>
    </tr>
    <tr>
      <td class="ttl">CPU</td>
      <td class="nfo" data-spec="cpu">Octa-core (4x2.5 GHz Kryo 385 Gold & 4x1.6 GHz Kryo 385 Silver)</td>
    </tr>
    <tr>
      <td class="ttl">GPU</td>
      <td class="nfo" data-spec="gpu">Adreno 630</td>
    </tr>
  </table>


  <table class="Spec_table">
    <tr>
      <th rowspan="5" scope="row">Memory</th>
      <td class="ttl">Card slot</td>


      <td class="nfo" data-spec="memoryslot">No</td>
    </tr>



    <tr>
      <td class="ttl">Internal</td>
      <td class="nfo" data-spec="internalmemory">64/128 GB, 4 GB RAM</td>
    </tr>
  </table>


  <table class="Spec_table">
    <tr>
      <th rowspan="4" scope="row" class="small-line-height">Main Camera</th>
      <td class="ttl">Single</td>
      <td class="nfo" data-spec="cam1modules">12.2 MP, f/1.8, 28mm (wide), 1/2.55", 1.4µm, OIS, dual pixel PDAF</td>
    </tr>
    <tr>
      <td class="ttl">Features</td>
      <td class="nfo" data-spec="cam1features">Dual-LED flash, Auto-HDR, panorama</td>
    </tr>
    <tr>
      <td class="ttl">Video</td>
      <td class="nfo" data-spec="cam1video">2160p@30fps, 1080p@30/60/120fps, 720p@240fps, 1080p@30fps (gyro-EIS)</td>
    </tr>
  </table>


  <table class="Spec_table">
    <tr>
      <th rowspan="4" scope="row" class="small-line-height">Selfie camera</th>
      <td class="ttl">Dual</td>
      <td class="nfo" data-spec="cam2modules">8 MP, f/1.8, 28mm (wide), PDAF<br />
        8 MP, f/2.2, 19mm (ultrawide), no AF</td>
    </tr>
    <tr>
      <td class="ttl">Features</td>
      <td class="nfo" data-spec="cam2features">Auto-HDR</td>
    </tr>
    <tr>
      <td class="ttl">Video</td>
      <td class="nfo" data-spec="cam2video">1080p@30fps</td>
    </tr>
  </table>



  <table class="Spec_table">
    <tr>
      <th rowspan="3" scope="row">Sound</th>
      <td class="ttl">Loudspeaker </td>
      <td class="nfo">Yes, with stereo speakers</td>
    </tr>



    <tr>
      <td class="ttl">3.5mm jack </td>
      <td class="nfo">No</td>
    </tr>


    <tr>
      <td class="ttl">&nbsp;</td>
      <td class="nfo" data-spec="optionalother">Active noise cancellation with dedicated mic</td>
    </tr>

  </table>


  <table class="Spec_table">
    <tr>
      <th rowspan="9" scope="row">Comms</th>
      <td class="ttl">WLAN</td>
      <td class="nfo" data-spec="wlan">Wi-Fi 802.11 a/b/g/n/ac, dual-band, Wi-Fi Direct, DLNA, hotspot</td>
    </tr>
    <tr>
      <td class="ttl">Bluetooth</td>
      <td class="nfo" data-spec="bluetooth">5.0, A2DP, LE, aptX HD</td>
    </tr>
    <tr>
      <td class="ttl">GPS</td>
      <td class="nfo" data-spec="gps">Yes, with A-GPS, GLONASS, BDS, GALILEO</td>
    </tr>
    <tr>
      <td class="ttl">NFC</td>
      <td class="nfo" data-spec="nfc">Yes</td>
    </tr>


    <tr>
      <td class="ttl">Radio</td>
      <td class="nfo" data-spec="radio">No</td>
    </tr>

    <tr>
      <td class="ttl">USB</td>
      <td class="nfo" data-spec="usb">3.1, Type-C 1.0 reversible connector</td>
    </tr>
  </table>


  <table class="Spec_table">
    <tr>
      <th rowspan="9" scope="row">Features</th>
      <td class="ttl">Sensors</td>
      <td class="nfo" data-spec="sensors">Fingerprint (rear-mounted), accelerometer, gyro, proximity, compass, barometer
      </td>
    </tr>







  </table>


  <table class="Spec_table">
    <tr>
      <th rowspan="7" scope="row">Battery</th>
      <td class="ttl">&nbsp;</td>
      <td class="nfo" data-spec="batdescription1">Non-removable Li-Po 2915 mAh battery</td>
    </tr>
    <tr>
      <td class="ttl">Charging</td>
      <td class="nfo">Fast battery charging 9V/2A 18W<br />
        USB Power Delivery 2.0<br />
        QI wireless charging</td>
    </tr>


  </table>


  <table class="Spec_table">
    <tr>
      <th rowspan="5" scope="row">Misc</th>
      <td class="ttl">Colors</td>
      <td class="nfo" data-spec="colors">Clearly White, Just Black, Not Pink</td>
    </tr>


    <tr>
      <td class="ttl">Price</td>
      <td class="nfo" data-spec="price">About 850 EUR</td>
    </tr>
  </table>


  <table class="Spec_table">
    <tr>
      <th rowspan="6" scope="row">Tests</th>
      <td class="ttl">Performance</td>
      <td class="nfo" data-spec="tbench">
        Basemark OS II 2.0: 3909 / Basemark X: 44369</td>
    </tr>
    <tr>

      <td class="ttl">Display</td>
      <td class="nfo">
        Contrast ratio: Infinite (nominal), 4.350 (sunlight)</td>
    </tr>
    <tr>

      <td class="ttl">Camera</td>
      <td class="nfo">
        Photo / Video</td>
    </tr>
    <tr>

      <td class="ttl">Loudspeaker</td>
      <td class="nfo">
        Voice 77dB / Noise 71dB / Ring 81dB

      </td>
    </tr>
    <tr>

      <td class="ttl">Audio quality</td>
      <td class="nfo">
        Noise -71.7dB / Crosstalk -70.1dB</td>
    </tr>
    <tr>


      <td class="ttl">Battery life</td>
      <td class="nfo" data-spec="batlife">
        <div style="position:relative;">
          Endurance rating 69h<div class="popover top" id="battery-popover" style="display: none;"></div>
        </div>
      </td>
    </tr>
  </table>



</div>


<br>
<table>
  <tr>
    <td><strong>Disclaimer.</strong> We can not guarantee that the information on this page is 100% correct.</td>
  </tr>
</table>