<!-- This website template was created by: Deivid Mafra 09/04/2019 -->
<div class="table_container">
    <div class="Spec_image">
        <img alt="Huawei P20 banner" src="images/HuaweiP20_Spec2.jpg">
    </div>


    <div class="Spec_Header">

        <table class="page_header">
            <tr>
                <td>Huawei P20</td>
            </tr>
        </table>
    </div>
    <table class="Spec_table">
        <!-- <caption>Huawei P20</caption> -->
        <tr class="tr-hover">
            <th rowspan="15" scope="row">Network</th>
            <td class="ttl">Technology</td>
            <td class="nfo">GSM / HSPA / LTE</td>
            <!-- <th rowspan="15" scope="row" class="img_table"><img src="images/HuaweiP20.png"></th> -->
        </tr>
        <tr class="tr-toggle">
            <td class="ttl">2G bands</td>
            <td class="nfo" data-spec="net2g">GSM 850 / 900 / 1800 / 1900 - SIM 1 & SIM 2 (dual-SIM model only)</td>
        </tr>
        <tr class="tr-toggle">
            <td class="ttl">3G bands</td>
            <td class="nfo" data-spec="net3g">HSDPA 850 / 900 / 1900 / 2100 </td>
        </tr>
        <tr class="tr-toggle">
            <td class="ttl">4G bands</td>
            <td class="nfo" data-spec="net4g"> LTE</td>
        </tr>
        <tr class="tr-toggle">
            <td class="ttl">Speed</td>
            <td class="nfo" data-spec="speed">HSPA 42.2/5.76 Mbps, LTE-A (3CA) Cat16 1024/150 Mbps</td>
        </tr>

        <tr class="tr-toggle">
            <td class="ttl">GPRS</td>
            <td class="nfo" data-spec="gprstext">Yes</td>
        </tr>
        <tr class="tr-toggle">
            <td class="ttl">EDGE</td>
            <td class="nfo" data-spec="edge">Yes</td>
        </tr>
    </table>


    <table class="Spec_table">
        <tr>
            <th rowspan="2" scope="row">Launch</th>
            <td class="ttl">Announced</td>
            <td class="nfo" data-spec="year">2018, March</td>
        </tr>
        <tr>
            <td class="ttl">Status</td>
            <td class="nfo" data-spec="status">Available. Released 2018, April</td>
        </tr>
    </table>


    <table class="Spec_table">
        <tr>
            <th rowspan="6" scope="row">Body</th>
            <td class="ttl">Dimensions</td>
            <td class="nfo" data-spec="dimensions">149.1 x 70.8 x 7.7 mm (5.87 x 2.79 x 0.30 in)</td>
        </tr>
        <tr>
            <td class="ttl">Weight</td>
            <td class="nfo" data-spec="weight">165 g (5.82 oz)</td>
        </tr>
        <tr>
            <td class="ttl">Build</td>
            <td class="nfo" data-spec="build">Front/back glass & aluminum frame</td>
        </tr>
        <tr>
            <td class="ttl">SIM</td>
            <td class="nfo" data-spec="sim">Single SIM (Nano-SIM) or Dual SIM (Nano-SIM, dual stand-by)</td>
        </tr>
        <tr>
            <td class="ttl">&nbsp;</td>
            <td class="nfo" data-spec="bodyother">Dust and splash resistant</td>
        </tr>

    </table>


    <table class="Spec_table">
        <tr>
            <th rowspan="5" scope="row">Display</th>
            <td class="ttl">Type</td>
            <td class="nfo" data-spec="displaytype">LTPS IPS LCD capacitive touchscreen, 16M colors</td>
        </tr>
        <tr>
            <td class="ttl">Size</td>
            <td class="nfo" data-spec="displaysize">5.8 inches, 84.9 cm<sup>2</sup> (~80.4% screen-to-body ratio)</td>
        </tr>
        <tr>
            <td class="ttl">Resolution</td>
            <td class="nfo" data-spec="displayresolution">1080 x 2240 pixels, 18.7:9 ratio (~429 ppi density)</td>
        </tr>

    </table>


    <table class="Spec_table">
        <tr>
            <th rowspan="4" scope="row">Platform</th>
            <td class="ttl">OS</td>
            <td class="nfo" data-spec="os">Android 8.1 (Oreo), upgradable to Android 9.0 (Pie); EMUI 8.1</td>
        </tr>
        <tr>
            <td class="ttl">Chipset</td>
            <td class="nfo" data-spec="chipset">Hisilicon Kirin 970 (10 nm)</td>
        </tr>
        <tr>
            <td class="ttl">CPU</td>
            <td class="nfo" data-spec="cpu">Octa-core (4x2.4 GHz Cortex-A73 & 4x1.8 GHz Cortex-A53)</td>
        </tr>
        <tr>
            <td class="ttl">GPU</td>
            <td class="nfo" data-spec="gpu">Mali-G72 MP12</td>
        </tr>
    </table>


    <table class="Spec_table">
        <tr>
            <th rowspan="5" scope="row">Memory</th>
            <td class="ttl">Card slot</td>


            <td class="nfo" data-spec="memoryslot">No</td>
        </tr>



        <tr>
            <td class="ttl">Internal</td>
            <td class="nfo" data-spec="internalmemory">64/128 GB, 4 GB RAM or 6 GB RAM (China)</td>
        </tr>
    </table>


    <table class="Spec_table">
        <tr>
            <th rowspan="4" scope="row" class="small-line-height">Main Camera</th>
            <td class="ttl">Dual</td>
            <td class="nfo" data-spec="cam1modules">12 MP, f/1.8, 27mm (wide), 1/2.3", 1.55µm, OIS, PDAF & laser
                AF<br />
                20 MP B/W, f/1.6, 27mm (wide), 2x lossless zoom, PDAF</td>
        </tr>
        <tr>
            <td class="ttl">Features</td>
            <td class="nfo" data-spec="cam1features">Leica optics, LED flash, HDR, panorama</td>
        </tr>
        <tr>
            <td class="ttl">Video</td>
            <td class="nfo" data-spec="cam1video">2160p@30fps, 1080p@60fps, 1080p@30fps (gyro-EIS), 720p@960fps</td>
        </tr>
    </table>


    <table class="Spec_table">
        <tr>
            <th rowspan="4" scope="row" class="small-line-height">Selfie camera</th>
            <td class="ttl">Single</td>
            <td class="nfo" data-spec="cam2modules">24 MP, f/2.0</td>
        </tr>
        <tr>
            <td class="ttl">Video</td>
            <td class="nfo" data-spec="cam2video">1080p@30fps</td>
        </tr>
    </table>



    <table class="Spec_table">
        <tr>
            <th rowspan="3" scope="row">Sound</th>
            <td class="ttl">Loudspeaker </td>
            <td class="nfo">Yes</td>
        </tr>



        <tr>
            <td class="ttl">3.5mm jack </td>
            <td class="nfo">No</td>
        </tr>


        <tr>
            <td class="ttl">&nbsp;</td>
            <td class="nfo" data-spec="optionalother">32-bit/384kHz audio<br />
                Active noise cancellation with dedicated mic</td>
        </tr>

    </table>


    <table class="Spec_table">
        <tr>
            <th rowspan="9" scope="row">Comms</th>
            <td class="ttl">WLAN</td>
            <td class="nfo" data-spec="wlan">Wi-Fi 802.11 a/b/g/n/ac, dual-band, WiFi Direct, hotspot</td>
        </tr>
        <tr>
            <td class="ttl">Bluetooth</td>
            <td class="nfo" data-spec="bluetooth">4.2, A2DP, LE, EDR, aptX HD</td>
        </tr>
        <tr>
            <td class="ttl">GPS</td>
            <td class="nfo" data-spec="gps">Yes, with A-GPS, GLONASS, GALILEO</td>
        </tr>
        <tr>
            <td class="ttl">NFC</td>
            <td class="nfo" data-spec="nfc">Yes</td>
        </tr>


        <tr>
            <td class="ttl">Radio</td>
            <td class="nfo" data-spec="radio">No</td>
        </tr>

        <tr>
            <td class="ttl">USB</td>
            <td class="nfo" data-spec="usb">3.1, Type-C 1.0 reversible connector</td>
        </tr>
    </table>


    <table class="Spec_table">
        <tr>
            <th rowspan="9" scope="row">Features</th>
            <td class="ttl">Sensors</td>
            <td class="nfo" data-spec="sensors">Fingerprint (front-mounted), accelerometer, gyro, proximity, compass,
                color spectrum</td>
        </tr>







    </table>


    <table class="Spec_table">
        <tr>
            <th rowspan="7" scope="row">Battery</th>
            <td class="ttl">&nbsp;</td>
            <td class="nfo" data-spec="batdescription1">Non-removable Li-Po 3400 mAh battery</td>
        </tr>
        <tr>
            <td class="ttl">Charging</td>
            <td class="nfo">Fast battery charging 4.5V/5A 22.5W</td>
        </tr>


    </table>


    <table class="Spec_table">
        <tr>
            <th rowspan="5" scope="row">Misc</th>
            <td class="ttl">Colors</td>
            <td class="nfo" data-spec="colors">Twilight, Black, Midnight Blue, Pink Gold</td>
        </tr>


        <tr>
            <td class="ttl">Price</td>
            <td class="nfo" data-spec="price">About 440 EUR</td>
        </tr>
    </table>


    <table class="Spec_table">
        <tr>
            <th rowspan="6" scope="row">Tests</th>
            <td class="ttl">Performance</td>
            <td class="nfo" data-spec="tbench">
                Basemark OS II: 3675 / Basemark OS II 2.0: 3487<br>Basemark X: 37659</td>
        </tr>
        <tr>

            <td class="ttl">Display</td>
            <td class="nfo">
                Contrast ratio: 1445:1 (nominal), 3.683 (sunlight)</td>
        </tr>
        <tr>

            <td class="ttl">Camera</td>
            <td class="nfo">
                Photo / Video</td>
        </tr>
        <tr>

            <td class="ttl">Loudspeaker</td>
            <td class="nfo">
                Voice 66dB / Noise 69dB / Ring 90dB

            </td>
        </tr>
        <tr>

            <td class="ttl">Audio quality</td>
            <td class="nfo">
                Noise -92.4dB / Crosstalk -92.7dB</td>
        </tr>
        <tr>


            <td class="ttl">Battery life</td>
            <td class="nfo" data-spec="batlife">
                <div style="position:relative;">
                    Endurance rating 75h<div class="popover top" id="battery-popover" style="display: none;"></div>
                </div>
            </td>
        </tr>
    </table>



</div>

<br>
<table>
    <tr>
        <td><strong>Disclaimer.</strong> We can not guarantee that the information on this page is 100% correct.</td>
    </tr>
</table>