<!-- This website template was created by: Deivid Mafra 09/04/2019 -->
<div class="table_container">
    <div class="Spec_image">
        <img alt="iPHONE 6 banner" src="images/iPHONE_6_Spec.jpg">
    </div>


    <div class="Spec_Header">

        <table class="page_header">
            <tr>
                <td>Apple iPhone 6</td>
            </tr>
        </table>
    </div>
    <table class="Spec_table">
        <tr class="tr-hover">
            <th rowspan="15" scope="row">Network</th>
            <td class="ttl">Technology </td>
            <td class="nfo"> GSM / CDMA / HSPA / EVDO / LTE </td>
        </tr>
        <tr class="tr-toggle">
            <td class="ttl">2G bands </td>
            <td class="nfo" data-spec="net2g">GSM 850 / 900 / 1800 / 1900 - A1549 (GSM), A1549 (CDMA), A1586</td>
        </tr>
        <tr class="tr-toggle" data-spec-optional>
            <td class="ttl">&nbsp;</td>
            <td class="nfo">CDMA 800 / 1700 / 1900 / 2100 - A1549 (CDMA), A1586</td>
        </tr>
        <tr class="tr-toggle">
            <td class="ttl">3G bands </td>
            <td class="nfo" data-spec="net3g">HSDPA 850 / 900 / 1700 / 1900 / 2100 - A1549 (GSM), A1549 (CDMA), A1586
            </td>
        </tr>
        <tr class="tr-toggle" data-spec-optional>
            <td class="ttl">&nbsp;</td>
            <td class="nfo">CDMA2000 1xEV-DO - A1549 (CDMA), A1586</td>
        </tr>
        <tr class="tr-toggle" data-spec-optional>
            <td class="ttl">&nbsp;</td>
            <td class="nfo"> TD-SCDMA - A1586</td>
        </tr>
        <tr class="tr-toggle">
            <td class="ttl">4G bands </td>
            <td class="nfo" data-spec="net4g">LTE band 1(2100), 2(1900), 3(1800), 4(1700/2100), 5(850), 7(2600), 8(900),
                13(700), 17(700), 18(800), 19(800), 20(800), 25(1900), 26(850), 28(700), 29(700) - A1549 GSM, A1549 CDMA
            </td>
        </tr>
        <tr class="tr-toggle" data-spec-optional>
            <td class="ttl">&nbsp;</td>
            <td class="nfo">LTE band 1(2100), 2(1900), 3(1800), 4(1700/2100), 5(850), 7(2600), 8(900), 13(700), 17(700),
                18(800), 19(800), 20(800), 25(1900), 26(850), 28(700), 29(700), 38(2600), 39(1900), 40(2300), 41(2500) -
                A1586</td>
        </tr>
        <tr class="tr-toggle">
            <td class="ttl"></td>
            <td class="nfo" data-spec="speed">HSPA 42.2/5.76 Mbps, LTE-A Cat4 150/50 Mbps, EV-DO Rev.A 3.1 Mbps</td>
        </tr>

        <tr class="tr-toggle">
            <td class="ttl">GPRS </td>
            <td class="nfo" data-spec="gprstext">Yes</td>
        </tr>
        <tr class="tr-toggle">
            <td class="ttl">EDGE </td>
            <td class="nfo" data-spec="edge">Yes</td>
        </tr>
    </table>


    <table class="Spec_table">
        <tr>
            <th rowspan="2" scope="row">Launch</th>
            <td class="ttl">Announced </td>
            <td class="nfo" data-spec="year">2014, September</td>
        </tr>
        <tr>
            <td class="ttl">Status </td>
            <td class="nfo" data-spec="status">Available. Released 2014, September</td>
        </tr>
    </table>


    <table class="Spec_table">
        <tr>
            <th rowspan="6" scope="row">Body</th>
            <td class="ttl">Dimensions </td>
            <td class="nfo" data-spec="dimensions">138.1 x 67 x 6.9 mm (5.44 x 2.64 x 0.27 in)</td>
        </tr>
        <tr>
            <td class="ttl">Weight </td>
            <td class="nfo" data-spec="weight">129 g (4.55 oz)</td>
        </tr>
        <tr>
            <td class="ttl">Build </td>
            <td class="nfo" data-spec="build">Front glass, aluminum body</td>
        </tr>
        <tr>
            <td class="ttl">SIM </td>
            <td class="nfo" data-spec="sim">Nano-SIM</td>
        </tr>
        <tr>
            <td class="ttl">&nbsp;</td>
            <td class="nfo" data-spec="bodyother">Apple Pay (Visa, MasterCard, AMEX certified)</td>
        </tr>

    </table>


    <table class="Spec_table">
        <tr>
            <th rowspan="5" scope="row">Display</th>
            <td class="ttl">Type </td>
            <td class="nfo" data-spec="displaytype">IPS LCD capacitive touchscreen, 16M colors</td>
        </tr>
        <tr>
            <td class="ttl"> Size </td> <td class="nfo" data-spec="displaysize">4.7 inches, 60.9 cm<sup>2</sup> (~65.8%
                screen-to-body ratio)</td>
        </tr>
        <tr>
            <td class="ttl">Resolution </td>
            <td class="nfo" data-spec="displayresolution">750 x 1334 pixels, 16:9 ratio (~326 ppi density)</td>
        </tr>
        <tr>
            <td class="ttl">Protection </td>
            <td class="nfo" data-spec="displayprotection">Ion-strengthened glass, oleophobic coating</td>
        </tr>

    </table>


    <table class="Spec_table">
        <tr>
            <th rowspan="4" scope="row">Platform</th>
            <td class="ttl">OS </td>
            <td class="nfo" data-spec="os">iOS 8, upgradable to iOS 12.2</td>
        </tr>
        <tr>
            <td class="ttl">Chipset </td>
            <td class="nfo" data-spec="chipset">Apple A8 (20 nm)</td>
        </tr>
        <tr>
            <td class="ttl">CPU </td>
            <td class="nfo" data-spec="cpu">Dual-core 1.4 GHz Typhoon (ARM v8-based)</td>
        </tr>
        <tr>
            <td class="ttl">GPU </td>
            <td class="nfo" data-spec="gpu">PowerVR GX6450 (quad-core graphics)</td>
        </tr>
    </table>


    <table class="Spec_table">
        <tr>
            <th rowspan="5" scope="row">Memory</th>
            <td class="ttl">Card slot </td>


            <td class="nfo" data-spec="memoryslot">No</td>
        </tr>



        <tr>
            <td class="ttl">Internal </td>
            <td class="nfo" data-spec="internalmemory">16/32/64/128 GB, 1 GB RAM DDR3</td>
        </tr>
    </table>


    <table class="Spec_table">
        <tr>
            <th rowspan="4" scope="row" class="small-line-height">Main Camera</th>
            <td class="ttl">Single </td>
            <td class="nfo" data-spec="cam1modules">8 MP, f/2.2, 29mm (standard), 1/3", 1.5µm, PDAF</td>
        </tr>
        <tr>
            <td class="ttl">Features </td>
            <td class="nfo" data-spec="cam1features">Dual-LED dual-tone flash, HDR</td>
        </tr>
        <tr>
            <td class="ttl">Video </td>
            <td class="nfo" data-spec="cam1video">1080p@60fps, 720p@240fps</td>
        </tr>
    </table>


    <table class="Spec_table">
        <tr>
            <th rowspan="4" scope="row" class="small-line-height">Selfie camera</th>
            <td class="ttl">Single </td>
            <td class="nfo" data-spec="cam2modules">1.2 MP, f/2.2, 31mm (standard)</td>
        </tr>
        <tr>
            <td class="ttl">Features </td>
            <td class="nfo" data-spec="cam2features">face detection, HDR, FaceTime over Wi-Fi or Cellular</td>
        </tr>
        <tr>
            <td class="ttl">Video </td>
            <td class="nfo" data-spec="cam2video">720p@30fps</td>
        </tr>
    </table>



    <table class="Spec_table">
        <tr>
            <th rowspan="3" scope="row">Sound</th>
            <td class="ttl">Loudspeaker </td>
            <td class="nfo">Yes</td>
        </tr>



        <tr>
            <td class="ttl">3.5mm jack </td>
            <td class="nfo">Yes</td>
        </tr>


        <tr>
            <td class="ttl">&nbsp;</td>
            <td class="nfo" data-spec="optionalother">16-bit/44.1kHz audio<br />
                Active noise cancellation with dedicated mic</td>
        </tr>

    </table>


    <table class="Spec_table">
        <tr>
            <th rowspan="9" scope="row">Comms</th>
            <td class="ttl">WLAN </td>
            <td class="nfo" data-spec="wlan">Wi-Fi 802.11 a/b/g/n/ac, dual-band, hotspot</td>
        </tr>
        <tr>
            <td class="ttl">Bluetooth </td>
            <td class="nfo" data-spec="bluetooth">4.0, A2DP, LE</td>
        </tr>
        <tr>
            <td class="ttl">GPS </td>
            <td class="nfo" data-spec="gps">Yes, with A-GPS, GLONASS</td>
        </tr>
        <tr>
            <td class="ttl">NFC </td>
            <td class="nfo" data-spec="nfc">Yes (Apple Pay only)</td>
        </tr>


        <tr>
            <td class="ttl">Radio </td>
            <td class="nfo" data-spec="radio">No</td>
        </tr>

        <tr>
            <td class="ttl">USB </td>
            <td class="nfo" data-spec="usb">2.0, proprietary reversible connector</td>
        </tr>
    </table>


    <table class="Spec_table">
        <tr>
            <th rowspan="9" scope="row">Features</th>
            <td class="ttl">Sensors </td>
            <td class="nfo" data-spec="sensors">Fingerprint (front-mounted), accelerometer, gyro, proximity, compass,
                barometer</td>
        </tr>






        <tr>
            <td class="ttl">&nbsp;</td>
            <td class="nfo" data-spec="featuresother">Siri natural language commands and dictation</td>
        </tr>

    </table>


    <table class="Spec_table">
        <tr>
            <th rowspan="7" scope="row">Battery</th>
            <td class="ttl">&nbsp;</td>
            <td class="nfo" data-spec="batdescription1">Non-removable Li-Po 1810 mAh battery (6.9 Wh)</td>
        </tr>
        <tr>
            <td class="ttl">Stand-by </td>
            <td class="nfo" data-spec="batstandby1">Up to 250 h (3G)</td>
        </tr>

        <tr>
            <td class="ttl">Talk time </td>
            <td class="nfo" data-spec="battalktime1">Up to 14 h (3G)</td>
        </tr>

        <tr>
            <td class="ttl">Music play </td>
            <td class="nfo" data-spec="batmusicplayback1">Up to 50 h</td>
        </tr>
    </table>


    <table class="Spec_table">
        <tr>
            <th rowspan="5" scope="row">Misc</th>
            <td class="ttl">Colors </td>
            <td class="nfo" data-spec="colors">Space Gray, Silver, Gold</td>
        </tr>
        <tr>
            <td class="ttl">SAR </td>
            <td class="nfo" data-spec="sar-us">1.18 W/kg (head) &nbsp; &nbsp; 1.18 W/kg (body) &nbsp; &nbsp; </td>
        </tr>
        <tr>
            <td class="ttl">SAR EU </td>
            <td class="nfo" data-spec="sar-eu">0.98 W/kg (head) &nbsp; &nbsp; 0.97 W/kg (body) &nbsp; &nbsp; </td>
        </tr>


        <tr>
            <td class="ttl">Price </td>
            <td class="nfo" data-spec="price">About 360 EUR</td>
        </tr>
    </table>


    <table class="Spec_table">
        <tr>
            <th rowspan="6" scope="row">Tests</th>
            <td class="ttl">Performance </td>
            <td class="nfo" data-spec="tbench">
                Basemark OS II: 1252 / Basemark X: 15841 </td>
        </tr>
        <tr>

            <td class="ttl">Display </td>
            <td class="nfo">
                Contrast ratio: 1213 (nominal), 3.838 (sunlight) </td>
        </tr>
        <tr>

            <td class="ttl">Camera </td>
            <td class="nfo">
                Photo / Video </td>
        </tr>
        <tr>

            <td class="ttl">Loudspeaker </td>
            <td class="nfo">
                Voice 66dB / Noise 65dB / Ring 72dB

            </td>
        </tr>
        <tr>

            <td class="ttl">Audio quality </td>
            <td class="nfo">
                Noise -94dB / Crosstalk -73.4dB </td>
        </tr>
        <tr>


            <td class="ttl">Battery life </td>
            <td class="nfo" data-spec="batlife">
                <div style="position:relative;">
                    Endurance rating 61h <div class="popover top" id="battery-popover" style="display: none;"></div>
                </div>
            </td>
        </tr>
    </table>



</div>
<br>
<table>
    <tr>
        <td><strong>Disclaimer.</strong> We can not guarantee that the information on this page is 100% correct.</td>
    </tr>
</table>