<!-- This website template was created by: Deivid Mafra 09/04/2019 -->
<div class="table_container">
    <div class="Spec_image">
        <img alt="iPhone XR banner" src="images/iPHONE_XR_Spec2.jpg">
    </div>


    <div class="Spec_Header">

        <table class="page_header">
            <tr>
                <td>Apple iPhone XR</td>
            </tr>
        </table>
    </div>
    <table class="Spec_table">
        <tr class="tr-hover">
            <th rowspan="15" scope="row">Network</th>
            <td class="ttl">Technology</td>
            <td class="nfo">GSM / CDMA / HSPA / EVDO / LTE</td>
        </tr>
        <tr class="tr-toggle">
            <td class="ttl">2G bands</td>
            <td class="nfo" data-spec="net2g">GSM 850 / 900 / 1800 / 1900 </td>
        </tr>
        <tr class="tr-toggle" data-spec-optional>
            <td class="ttl">&nbsp;</td>
            <td class="nfo">CDMA 800 / 1900 </td>
        </tr>
        <tr class="tr-toggle">
            <td class="ttl">3G bands</td>
            <td class="nfo" data-spec="net3g">HSDPA 850 / 900 / 1700(AWS) / 1900 / 2100 </td>
        </tr>
        <tr class="tr-toggle" data-spec-optional>
            <td class="ttl">&nbsp;</td>
            <td class="nfo">CDMA2000 1xEV-DO </td>
        </tr>
        <tr class="tr-toggle">
            <td class="ttl">4G bands</td>
            <td class="nfo" data-spec="net4g">LTE band 1(2100), 2(1900), 3(1800), 4(1700/2100), 5(850), 7(2600), 8(900),
                12(700), 13(700), 14(700), 17(700), 18(800), 19(800), 20(800), 25(1900), 26(850), 29(700), 30(2300),
                32(1500), 34(2000), 38(2600), 39(1900), 40(2300), 41(2500), 66(1700/2100), 71(600)</td>
        </tr>
        <tr class="tr-toggle">
            <td class="ttl">Speed</td>
            <td class="nfo" data-spec="speed">HSPA 42.2/5.76 Mbps, LTE-A</td>
        </tr>

        <tr class="tr-toggle">
            <td class="ttl">GPRS</td>
            <td class="nfo" data-spec="gprstext">Yes</td>
        </tr>
        <tr class="tr-toggle">
            <td class="ttl">EDGE</td>
            <td class="nfo" data-spec="edge">Yes</td>
        </tr>
    </table>


    <table class="Spec_table">
        <tr>
            <th rowspan="2" scope="row">Launch</th>
            <td class="ttl">Announced</td>
            <td class="nfo" data-spec="year">2018, September</td>
        </tr>
        <tr>
            <td class="ttl">Status</td>
            <td class="nfo" data-spec="status">Available. Released 2018, October</td>
        </tr>
    </table>


    <table class="Spec_table">
        <tr>
            <th rowspan="6" scope="row">Body</th>
            <td class="ttl">Dimensions</td>
            <td class="nfo" data-spec="dimensions">150.9 x 75.7 x 8.3 mm (5.94 x 2.98 x 0.33 in)</td>
        </tr>
        <tr>
            <td class="ttl">Weight</td>
            <td class="nfo" data-spec="weight">194 g (6.84 oz)</td>
        </tr>
        <tr>
            <td class="ttl">Build</td>
            <td class="nfo" data-spec="build">Front/back glass, aluminum frame (7000 series)</td>
        </tr>
        <tr>
            <td class="ttl">SIM</td>
            <td class="nfo" data-spec="sim">Nano-SIM, Electronic SIM card (eSIM)</td>
        </tr>
        <tr>
            <td class="ttl">&nbsp;</td>
            <td class="nfo" data-spec="bodyother">IP67 dust/water resistant (up to 1m for 30 mins)<br />
                Apple Pay (Visa, MasterCard, AMEX certified)</td>
        </tr>

    </table>


    <table class="Spec_table">
        <tr>
            <th rowspan="5" scope="row">Display</th>
            <td class="ttl">Type</td>
            <td class="nfo" data-spec="displaytype">IPS LCD capacitive touchscreen, 16M colors</td>
        </tr>
        <tr>
            <td class="ttl">Size</td>
            <td class="nfo" data-spec="displaysize">6.1 inches, 90.3 cm<sup>2</sup> (~79.0% screen-to-body ratio)</td>
        </tr>
        <tr>
            <td class="ttl">Resolution</td>
            <td class="nfo" data-spec="displayresolution">828 x 1792 pixels, 19.5:9 ratio (~326 ppi density)</td>
        </tr>
        <tr>
            <td class="ttl">Protection</td>
            <td class="nfo" data-spec="displayprotection">Scratch-resistant glass, oleophobic coating</td>
        </tr>
        <tr>
            <td class="ttl">&nbsp;</td>
            <td class="nfo" data-spec="displayother">True-tone<br />
                Wide color gamut<br />
                120 Hz touch-sensing</td>
        </tr>
    </table>


    <table class="Spec_table">
        <tr>
            <th rowspan="4" scope="row">Platform</th>
            <td class="ttl">OS</td>
            <td class="nfo" data-spec="os">iOS 12, upgradable to iOS 12.2</td>
        </tr>
        <tr>
            <td class="ttl">Chipset</td>
            <td class="nfo" data-spec="chipset">Apple A12 Bionic (7 nm)</td>
        </tr>
        <tr>
            <td class="ttl">CPU</td>
            <td class="nfo" data-spec="cpu">Hexa-core (2x2.5 GHz Vortex + 4x1.6 GHz Tempest)</td>
        </tr>
        <tr>
            <td class="ttl">GPU</td>
            <td class="nfo" data-spec="gpu">Apple GPU (4-core graphics)</td>
        </tr>
    </table>


    <table class="Spec_table">
        <tr>
            <th rowspan="5" scope="row">Memory</th>
            <td class="ttl">Card slot</td>


            <td class="nfo" data-spec="memoryslot">No</td>
            <td class="ttl">Internal</td>
            <td class="nfo" data-spec="internalmemory">64/128/256 GB, 3 GB RAM</td>
        </tr>
    </table>


    <table class="Spec_table">
        <tr>
            <th rowspan="4" scope="row" class="small-line-height">Main Camera</th>
            <td class="ttl">Single</td>
            <td class="nfo" data-spec="cam1modules">12 MP, f/1.8, 26mm (wide), 1/2.55", 1.4µm, OIS, PDAF</td>
        </tr>
        <tr>
            <td class="ttl">Features</td>
            <td class="nfo" data-spec="cam1features">Quad-LED dual-tone flash, HDR (photo/panorama)</td>
        </tr>
        <tr>
            <td class="ttl">Video</td>
            <td class="nfo" data-spec="cam1video">2160p@24/30/60fps, 1080p@30/60/120/240fps, HDR, stereo sound rec.</td>
        </tr>
    </table>


    <table class="Spec_table">
        <tr>
            <th rowspan="4" scope="row" class="small-line-height">Selfie camera</th>
            <td class="ttl">Single</td>
            <td class="nfo" data-spec="cam2modules">7 MP, f/2.2, 32mm (standard)</td>
        </tr>
        <tr>
            <td class="ttl">Features</td>
            <td class="nfo" data-spec="cam2features">HDR</td>
        </tr>
        <tr>
            <td class="ttl">Video</td>
            <td class="nfo" data-spec="cam2video">1080p@60fps</td>
        </tr>
    </table>



    <table class="Spec_table">
        <tr>
            <th rowspan="3" scope="row">Sound</th>
            <td class="ttl">Loudspeaker </td>
            <td class="nfo">Yes, with stereo speakers</td>
        </tr>
        <tr>
            <td class="ttl">3.5mm jack </td>
            <td class="nfo">No</td>
        </tr>
        <tr>
            <td class="ttl">&nbsp;</td>
            <td class="nfo" data-spec="optionalother">Active noise cancellation with dedicated mic</td>
        </tr>
    </table>
    <table class="Spec_table">
        <tr>
            <th rowspan="9" scope="row">Comms</th>
            <td class="ttl">WLAN</td>
            <td class="nfo" data-spec="wlan">Wi-Fi 802.11 a/b/g/n/ac, dual-band, hotspot</td>
        </tr>
        <tr>
            <td class="ttl">Bluetooth</td>
            <td class="nfo" data-spec="bluetooth">5.0, A2DP, LE</td>
        </tr>
        <tr>
            <td class="ttl">GPS</td>
            <td class="nfo" data-spec="gps">Yes, with A-GPS, GLONASS, GALILEO, QZSS</td>
        </tr>
        <tr>
            <td class="ttl">NFC</td>
            <td class="nfo" data-spec="nfc">Yes</td>
        </tr>
        <tr>
            <td class="ttl">Radio</td>
            <td class="nfo" data-spec="radio">No</td>
        </tr>
        <tr>
            <td class="ttl">USB</td>
            <td class="nfo" data-spec="usb">2.0, proprietary reversible connector</td>
        </tr>
    </table>
    <table class="Spec_table">
        <tr>
            <th rowspan="9" scope="row">Features</th>
            <td class="ttl">Sensors</td>
            <td class="nfo" data-spec="sensors">Face ID, accelerometer, gyro, proximity, compass, barometer</td>
        </tr>
        <tr>
            <td class="ttl">&nbsp;</td>
            <td class="nfo" data-spec="featuresother">Siri natural language commands and dictation</td>
        </tr>
    </table>


    <table class="Spec_table">
        <tr>
            <th rowspan="7" scope="row">Battery</th>
            <td class="ttl">&nbsp;</td>
            <td class="nfo" data-spec="batdescription1">Non-removable Li-Ion 2942 mAh battery</td>
        </tr>
        <tr>
            <td class="ttl">Charging</td>
            <td class="nfo">Fast battery charging 15W: 50% in 30 min<br />
                USB Power Delivery 2.0<br />
                Qi wireless charging</td>
        </tr>
        <tr>
            <td class="ttl">Talk time</td>
            <td class="nfo" data-spec="battalktime1">Up to 25 h (3G)</td>
        </tr>
        <tr>
            <td class="ttl">Music play</td>
            <td class="nfo" data-spec="batmusicplayback1">Up to 65 h</td>
        </tr>
    </table>
    <table class="Spec_table">
        <tr>
            <th rowspan="5" scope="row">Misc</th>
            <td class="ttl">Colors</td>
            <td class="nfo" data-spec="colors">Black, Red, Yellow, Blue, Coral, White</td>
        </tr>  
        <tr>
            <td class="ttl">Price</td>
            <td class="nfo" data-spec="price">About 850 EUR</td>
        </tr>
    </table>
    <table class="Spec_table" >
    <tr>
    <th rowspan="1" scope="row">Tests</th>
    <td class="ttl">Battery life</td>
    <td class="nfo" data-spec="batlife">
        <div style="position:relative;">
            Endurance rating 78h
        </div>
    </td>
    </tr>
    </table>
</div>
    <br>
    <table>
    <tr>
      <td><strong>Disclaimer.</strong> We can not guarantee that the information on this page is 100% correct.</td>
    </tr>
    </table>

    
    
    